
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --bg: #d7d7d7;
  --primary: #00AF71;
  --primary-light: #1ff0a7;
  --secondary: #2f5a4f;
  --secondary-light: #4b826d;
  --grey: #b1b5b9;

}

html {
  overflow-x: hidden;
  font-family: "Nunito Sans", sans-serif;
  color: #000;
}

body {
  background-color: var(--bg);
  padding: 0;
  margin: 0;
}
